<% if @guess&.errors %>
  <% @guess.errors.each do |attr, msg| %>
    <p class="error"><%= "#{attr} #{msg}" %></p>
  <% end %>
<% end %>

<%= form_for([@game, @game.guesses.build]) do |f| %>
  <%= f.text_field :value %>
  <%= f.submit 'Guess' %>
<% end %>
